{{- if eq .work_employer "edf" }}
# Proxy configuration to be loaded on to the zshrc file.
http_proxy="http://{{ (keepassxc "compte_bureautique_edf_url_encoded").UserName }}:{{ (keepassxc "compte_bureautique_edf_url_encoded").Password }}@vip-users.proxy.edf.fr:3131"
https_proxy="http://{{ (keepassxc "compte_bureautique_edf_url_encoded").UserName }}:{{ (keepassxc "compte_bureautique_edf_url_encoded").Password }}@vip-users.proxy.edf.fr:3131"
HTTP_PROXY="http://{{ (keepassxc "compte_bureautique_edf_url_encoded").UserName }}:{{ (keepassxc "compte_bureautique_edf_url_encoded").Password }}@vip-users.proxy.edf.fr:3131"
HTTPS_PROXY="http://{{ (keepassxc "compte_bureautique_edf_url_encoded").UserName }}:{{ (keepassxc "compte_bureautique_edf_url_encoded").Password }}@vip-users.proxy.edf.fr:3131"
NO_PROXY="localhost, edf.fr, myelectricnetwork.com, 10.117.0.221"
no_proxy="localhost, edf.fr, myelectricnetwork.com, 10.117.0.221"
{{- else if eq .work_employer "thales" }}
# Proxy configuration to be loaded on to the zshrc file.
http_proxy="{{ (keepassxc "thales_artemis_proxy_url").Password }}"
https_proxy="{{ (keepassxc "thales_artemis_proxy_url").Password }}"
HTTP_PROXY="{{ (keepassxc "thales_artemis_proxy_url").Password }}"
HTTPS_PROXY="{{ (keepassxc "thales_artemis_proxy_url").Password }}"
NO_PROXY="localhost"
no_proxy="localhost"
{{- else }}
{{- end }}
